executor{
	name = 'crg'
	submitRateLimit='5 sec'
}
process{
  withName: run_alphafold2 {
    container = 'file:///users/cn/abaltzis/sing_cache/alphafold.sif'
    memory = 20.GB
    cpus = 8
    queue = 'long-sl7'
    clusterOptions = '-l h_rt=72:00:00'
  }
  withName: run_seq2maps {
    container = 'file:///users/cn/abaltzis/projects/3_predictions/dmpfold-nf/singularity/dmpfold_crg.sif'
    scratch = true
    cpus = 8
    queue = 'long-sl7,cn-el7'
    clusterOptions = '-l h_rt=72:00:00'
  }
  withName: run_dmpfold {
    container = 'file:///users/cn/abaltzis/projects/3_predictions/dmpfold-nf/singularity/dmpfold_crg.sif'
    scratch = true
    cpus = 4
    queue = 'long-sl7,cn-el7'
    clusterOptions = '-l h_rt=72:00:00'
  }
	container = 'docker://athbaltzis/pred:v0.8'
	queue = 'cn-el7,long-sl7'
	clusterOptions = '-l h_rt=480:00:00'
	//scratch = true
	memory = { (task.attempt < 2 ? (12.GB * task.attempt) : 
                task.attempt < 3 ? (18.GB * task.attempt) : 
                task.attempt <  4 ? '30.GB' : 
                '50.GB')}
    errorStrategy = { task.attempt < 4 ? 'retry' : 'finish' } 
    maxRetries = 3
}
singularity {
	enabled = true
	autoMounts = true
  runOptions = "--bind $HOME/db/alphafold:/tmp"

}
trace {
    enabled = true
    raw = true
    fields = 'task_id, hash,native_id,name,status,exit,realtime,%cpu,rss,peak_rss,vmem,peak_vmem,rchar,wchar'
}
tower {
  accessToken = '5429974cf2db71c9364adec93c11cd04637173be'
  enabled = true
}
