executor{
	name = 'crg'
	submitRateLimit='5 sec'
}
process{
  withName: run_alphafold2 {
    container = "/users/cn/abaltzis/sing_cache/alphafold_sylabs_gpu.sif"
    //container = 'library://athbaltzis/af2/alphafold:init-release'
    memory = 15.GB
    cpus = 8
    queue = 'long-sl7'
    clusterOptions = '-l h_rt=72:00:00'
  }
	container = 'docker://athbaltzis/pred:v0.9'
	queue = 'cn-el7,long-sl7'
	clusterOptions = '-l h_rt=480:00:00'
	//scratch = true
	memory = { (task.attempt < 2 ? (12.GB * task.attempt) : 
                task.attempt < 3 ? (18.GB * task.attempt) : 
                task.attempt <  4 ? '30.GB' : 
                '50.GB')}
    errorStrategy = { task.attempt < 4 ? 'retry' : 'finish' } 
    maxRetries = 3
}
singularity {
	enabled = true
	autoMounts = true
  runOptions = "--bind /nfs/db/alphafold/202112:/db"  
  //runOptions = "--bind $HOME/db/alphafold:/tmp"

}
trace {
    enabled = true
    raw = true
    fields = 'task_id, hash,native_id,name,status,exit,realtime,%cpu,rss,peak_rss,vmem,peak_vmem,rchar,wchar'
}

